.hueRange {
  background: linear-gradient(
    to right,
    red 0%,
    #ff0 17%,
    lime 33%,
    cyan 50%,
    blue 66%,
    #f0f 83%,
    red 100%
  );
  height: 10px !important;
  outline: none;
  border-radius: 7px;
  margin-block: 2rem;
}

.hueRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid white;
  transition: 0.2s ease;
  box-shadow: 0px 0px 10px 0px hsl(var(--neutral-600));
}

.colorPickerContainer {
  width: var(--color-picker-container-size);
  height: calc(var(--color-picker-container-size) + 48px);
}

.colorGraph {
  height: var(--color-picker-container-size);
  width: var(--color-picker-container-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    hsl(var(--neutral-400)) 1px,
    transparent 1px
  );
  background-position: 0 0;
  background-size: 10px 10px;
}

:root[class*='dark'] .colorGraph {
  background-image: radial-gradient(
    hsl(var(--neutral-800)) 1px,
    transparent 1px
  );
}

.colorPicker {
  height: var(--color-picker-size);
  width: var(--color-picker-size);
}

.whiteOverlay {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.blackOverlay {
  background: linear-gradient(to bottom, transparent 0%, #000 100%);
  z-index: 2;
}
